  
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-align: center;

}

html {
	font-size: 62.5%;

  body {
		background-color: rgb(195, 247, 200);
		color:rgb(43, 43, 43);

		header {
			margin: 5rem 0 3rem;

			h1 {
				font-size: 6rem;
				margin: 1rem;
			}
		}
		.translate-box {
			h2 {
				font-size: 4rem;
				margin: 1rem;
			}

			p {
				font-size: 2rem;
				margin: 1rem;
			}

			form {
				max-width: 360px;
				margin: auto;
				padding: 1rem;
				display: flex;
				flex-direction: column;

				input,
				button {
					margin: 1rem;
					padding: 1rem;
				}

				input {
					text-align: left;
				}

				button {
					cursor:grab;
					font-size: 2rem;
          background-color: lightgray;
				}
			}
		}
	}
}